.nav {
  padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(247, 247, 247);
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #333;
  color: white;
  text-align:center;
}

.footer-text {
  font-size: 18px;
}


body {
  background-color: rgb(47, 255, 203);
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.comment {
  font-size: 17px;
}

.text-center {
  text-align: center;
}

.subText {
  font-size: 17px;
  padding-left: 200px;
  padding-right: 200px;
}

.link {
  color:#111;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}